<!DOCTYPE html>
<html lang="en">
<head>
    <title>PhotoApp - Home!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/global.css" type="text/css" rel="stylesheet">
    <link href="../assets/css/styles.css" type="text/css" rel="stylesheet">
    <link href="../assets/css/mediaqueries.css" type="text/css" rel="stylesheet">
</head>
<body>