[class*="grid-"] {
    width: 100%;
}

/*1em to 34em*/
@media only screen
and (min-width: 1em) {
    /*Extra small & Small devices*/
    .grid-xs-1 {
        width: 8.33%;
    }

    .grid-xs-2 {
        width: 16.66%;
    }

    .grid-xs-3 {
        width: 25%;
    }

    .grid-xs-4 {
        width: 33.33%;
    }

    .grid-xs-5 {
        width: 41.66%;
    }

    .grid-xs-6 {
        width: 50%;
    }

    .grid-xs-7 {
        width: 58.33%;
    }

    .grid-xs-8 {
        width: 66.66%;
    }

    .grid-xs-9 {
        width: 75%;
    }

    .grid-xs-10 {
        width: 83.33%;
    }

    .grid-xs-11 {
        width: 91.66%;
    }

    .grid-xs-12 {
        width: 100%;
    }

    section.items-container {
        padding: 50px 5px 10px 5px;
    }

    section.items-container .items {
        margin-bottom: 5px;
    }

    .items-inner-wrapper {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: .5rem;
        -moz-column-gap: .5rem;
        column-gap: .5rem;

    }

    section.items-container .items-wrapper .items .item > span.data {
        font-size: 16px;
    }
}

@media only screen
and (min-width: 36em) {
    /*Small devices*/
    .grid-sm-1 {
        width: 8.33%;
    }

    .grid-sm-2 {
        width: 16.66%;
    }

    .grid-sm-3 {
        width: 25%;
    }

    .grid-sm-4 {
        width: 33.33%;
    }

    .grid-sm-5 {
        width: 41.66%;
    }

    .grid-sm-6 {
        width: 50%;
    }

    .grid-sm-7 {
        width: 58.33%;
    }

    .grid-sm-8 {
        width: 66.66%;
    }

    .grid-sm-9 {
        width: 75%;
    }

    .grid-sm-10 {
        width: 83.33%;
    }

    .grid-sm-11 {
        width: 91.66%;
    }

    .grid-sm-12 {
        width: 100%;
    }

    header .nav .search-bar-wrapper {
        width: 100%;
        max-width: 400px;
    }

    .items-inner-wrapper {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: .5rem;
        -moz-column-gap: .5rem;
        column-gap: .5rem;
    }

    section.items-container .items-wrapper .items .item > span.data {
        font-size: 13px;
    }
}

@media only screen
and (min-width: 48em) {
    /* Medium Screen Devices */
    .grid-md-1 {
        width: 8.33%;
    }

    .grid-md-2 {
        width: 16.66%;
    }

    .grid-md-3 {
        width: 25%;
    }

    .grid-md-4 {
        width: 33.33%;
    }

    .grid-md-5 {
        width: 41.66%;
    }

    .grid-md-6 {
        width: 50%;
    }

    .grid-md-7 {
        width: 58.33%;
    }

    .grid-md-8 {
        width: 66.66%;
    }

    .grid-md-9 {
        width: 75%;
    }

    .grid-md-10 {
        width: 83.33%;
    }

    .grid-md-11 {
        width: 91.66%;
    }

    .grid-md-12 {
        width: 100%;
    }

    header .nav .search-bar-wrapper {
        width: 100%;
        max-width: 530px;
    }

    .items-inner-wrapper {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 0.5rem;
        -moz-column-gap: 0.5rem;
        column-gap: 0.5rem;
    }

    section.items-container .items-wrapper .items .item > span.data {
        font-size: 14px;
    }
}

@media only screen
and (min-width: 62em) {
    /* Large Screen Devices */
    .grid-lg-1 {
        width: 8.33%;
    }

    .grid-lg-2 {
        width: 16.66%;
    }

    .grid-lg-3 {
        width: 25%;
    }

    .grid-lg-4 {
        width: 33.33%;
    }

    .grid-lg-5 {
        width: 41.66%;
    }

    .grid-lg-6 {
        width: 50%;
    }

    .grid-lg-7 {
        width: 58.33%;
    }

    .grid-lg-8 {
        width: 66.66%;
    }

    .grid-lg-9 {
        width: 75%;
    }

    .grid-lg-10 {
        width: 83.33%;
    }

    .grid-lg-11 {
        width: 91.66%;
    }

    .grid-lg-12 {
        width: 100%;
    }

    header .nav .search-bar-wrapper {
        width: 100%;
        max-width: 700px;
    }

    .items-inner-wrapper {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 0.6rem;
        -moz-column-gap: 0.6rem;
        column-gap: 0.6rem;
    }
}

/*1em to 36em*/
@media only screen
and (min-width: 1em)
and (max-width: 35.938em) {
    .hide-xs {
        display: none !important;
    }

    .body-container, .nav {
        min-width: 320px;
    }
}