header .nav {
    background: #3598db;
}

.nav-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

header .nav .logo-wrapper {
    transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

header .nav .logo-wrapper.visible {
    transition-delay: 0.2s;
    display: inline-block;
    opacity: 1;
}

header .nav .logo-wrapper.hidden {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

header .nav .logo {
    height: 38px;
    padding: 4px 0 0 4px;
}

header .nav .site-name {
    padding: 0 0 0 5px;
}

header .nav .search-bar-wrapper input[type=search] {
    width: 140px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #fff;
    font-size: 16px;
    background: white url(../img/search.svg) no-repeat 10px 10px;
    background-size: 22px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

header .nav .search-bar-wrapper input[type=search]:focus {
    width: 100%;
}

section.items-container .items-wrapper .items {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

section.items-container .items-wrapper .items img {
    width: 100%;
    height: auto;
    min-height: 207px;
    border-radius: 6px 6px 0 0;
}

section.items-container .items-wrapper .item-inner-wrapper {
    margin: 0 0 5px 0;
}

section.items-container .items-wrapper .items .item-name, section.items-container .items-wrapper .items .item-description {
    padding: 5px 5px 0 5px;
}

section.items-container .items-wrapper .items .item-name {
    font-size: 16px;
}

section.items-container .items-wrapper .items .item-description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}

section.items-container .items-wrapper .items .item > i {
    padding: 10px 5px 5px 5px;
    color: #f92672;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

section.items-container .items-wrapper .items .item > span.data {
    font-weight: bold;
    color: rgba(51, 51, 51, 0.77);
}

section.items-container .items-wrapper {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

section.items-container .items-wrapper.noitemsfound {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.load-spinner-wrapper {
    padding-top: 5px;
}